// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  display: flex;

  .left {
    width: 610px;

    .playground {
      height: 610px;
      background-color: #111;
      position: relative;

      #turtle {
        position: absolute;
        width: 37px;
        visibility: hidden;
      }

      canvas {
        margin: 5px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }

    .console {
      background-color: #333;
      color: white;
      min-height: 200px;
      bottom: 0;
      padding-top: 10px;

      .fa-play {
        padding-left: 1px;
      }

      .uk-button.uk-active {
        background-color: #ccc;
        color: #444;
      }

      #consoleText {
        color: palevioletred;
        margin-top: 45px;
        font-size: 10px;
        padding: 3px;
      }
    }

  }

  .code {
    height: 100%;
    background-color: #fff;
    min-height: 810px;
    flex: 1;

    #storage {
      display: flex;

      div.uk-autocomplete {
        flex : 1;
      }

      div.tools {
        padding-left : 10px;
      }
    }

    #placeholder {
      margin-top: 5px;
    }
  }
}

.CodeMirror {
  height: 100%;
  bottom: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 11px;
}


