// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  display: flex;

  .buttons {
    top: 10px;
    left: 0;
    margin-left: 10px;

    .button {
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(top, #f4f1ee, #fff);
      border-radius: 50%;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3), inset 0 2px 1px 1px white, inset 0 -2px 1px 1px rgba(204, 198, 197, .5);
      float: left;
      height: 35px;
      margin: 0 10px 10px 0;
      position: relative;
      width: 35px;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
    }

    .button:after {
      color: #e9e6e4;
      content: "";
      display: block;
      height: 15px;
      text-decoration: none;
      text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
      position: absolute;
      width: 15px;
      font: normal normal normal 15px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .play:after {
      content: "\f04b";
      left: 13px;
      top: 10px;
    }

    .stop:after {
      content: "\f04d";
      left: 11px;
      top: 10px;
    }

    .load:after {
      content: "\f0ed";
      left: 10px;
      top: 11px;
    }

    .save:after {
      content: "\f0c7";
      left: 11px;
      top: 10px;
    }


    .button:hover {
      background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
      background-image: linear-gradient(top, #fff, #f4f1ee);
      color: #0088cc;
    }

    .play:hover:after {
      color: #83d244;
      text-shadow: 0 0 6px #83d244;
    }

    .stop:hover:after {
      color: #eb2f2f;
      text-shadow: 0 0 6px #eb2f2f;
    }

    .load:hover:after {
      color: #1a4ad2;
      text-shadow: 0 0 6px #1a4ad2;
    }

    .save:hover:after {
      color: #1a4ad2;
      text-shadow: 0 0 6px #1a4ad2;
    }

    .button:active {
      background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
      background-image: linear-gradient(top, #efedec, #f7f4f4);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .4), inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
    }

    .button:active:after {
      color: #dbd2d2;
      text-shadow: 0px -1px 1px #bdb5b4, 0 1px 1px white;
    }
  }


  .left {
    width: 610px;

    .playground {
      height: 610px;
      background-color: #111;
      position: relative;

      #turtle {
        position: absolute;
        width: 37px;
        visibility: hidden;
      }

      canvas {
        margin: 5px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .code {
    height: 100%;
    background-color: #fff;
    min-height: 1000px;
    flex: 1;

    #storage {
      display: flex;

      left: 5px;
      top: 5px;

      .buttons {
        margin-top: 5px;
      }

    }

    #placeholder {
      margin-top: 5px;
    }

    input[type="text"] {
      flex:1;
      display: block;
      margin: 0;
      font-family: sans-serif;
      font-size: 14px;
      appearance: none;
      box-shadow: none;
      border-radius: unset;
      padding: 10px;
      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;
      height: 22px;
    }

    input[type="text"]:focus {
      outline: none;
      border-bottom: solid 2px #969696;
    }
  }
}

.CodeMirror {
  height: 100%;
  bottom: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 11px;
}

.console {
  background-color: #333;
  color: white;
  min-height: 200px;
  bottom: 0;
  padding-top: 10px;

  #consoleText {
    color: palevioletred;
    margin-top: 45px;
    font-size: 10px;
    padding: 3px;
  }
}

